body {
  background-color: #2f4f4f;
  font-family: "Kanit", sans-serif;
}
hr {
  color: aliceblue;
  background-color: aliceblue;
}
.card {
  max-width: 600px;
  max-height: 600px;
}
.btn {
  display: inline-block;
  background-color: #000;
  color: white;
  width: 30%;
}
.img{
  height: 70%;
}
.card-deck{
  margin-left: 0.5%;
}
.nav-item:hover {
  background-color: #008cba;
}